// Checkout

#checkout
    padding: 2rem 0
    .section-title
        +font-size(24px)
        color: $title
        font-weight: 300
        margin: 0
    .title
        +font-size(18px)
        color: $title
        font-weight: 300
        margin: 0
        margin-bottom: 1rem
    .summary
        .title
            +font-size(14px)
        .totals
            margin-top: 1rem
            text-align: right
            .price
                +font-size(16px)
                color: $green
            .place-order
                .btn
                    +font-size(18px)
    .method-form
        display: none
        &[data-payment="card"]
            display: block
        .info
            background: $cloud
            border: 2px solid $gray
            border-radius: rem(3px)
            color: $title
            padding: 2rem 1rem
