// Form

.form
    .form-group
        color: $text
        margin-bottom: 1.5rem
        .link
            color: $green
            text-decoration: none
            &:hover
                color: $blue
                text-decoration: underline
        .label
            color: $text
            display: block
            margin-bottom: .5rem
            width: 100%
        .input
            +font-size(16px)
            background: $white
            border: 1px solid $border
            border-radius: rem(2px)
            color: $text
            font-family: $sans
            padding: 1rem 1.2rem
            width: 100%
        .select
            +font-size(16px)
            appearance: none
            background: url('../img/caret-down.svg') no-repeat, $white
            background-position: right 1rem center
            border: 1px solid $border
            border-radius: rem(2px)
            color: $text
            font-family: $sans
            outline: none
            padding: 1rem 1.2rem
            width: 100%
