// General

*,
&::before,
&::after
    box-sizing: border-box
    margin: 0
    outline: 0
    padding: 0

html
    font-size: $base-font-size

body
    background: url('../img/bg.jpg') repeat
    font-family: $sans

img
    vertical-align: middle

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
    appearance: none
    margin: 0

.pull-right
    float: right

.text-right
	text-align: right
